/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}

.home_button {
    position: absolute;
    top: 15px;
    left: 15px;
}

.filter {
    padding-left: 10px;
}

.list {
    padding-left: 50px;
}
