/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1.2em;
}

/* Intro Section */
.intro {
    background-color: #fff;
    padding: 2em 0;
    text-align: center;
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.intro img {
    width: 150px;
    height: auto;
    margin-top: 1em;
}

/* Steps Section */
.steps {
    background-color: #e0e0e0;
    padding: 2em 0;
}

.steps h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.steps h3 {
    text-align: center;
}

.steps ol {
    list-style-type: decimal;
    padding-left: 20px;
    font-size: 1.2em;
}

.steps li {
    margin-bottom: 1em;
}

/* Support Section */
.support {
    background-color: #fff;
    padding: 2em 0;
    text-align: center;
}

.support h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.support a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.support a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}

.home_button {
  position: absolute;
  top: 15px;
  left: 15px;
}